

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    text-transform: capitalize;
}
.orange-color{
    color: orange;
}

section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    color: white;
    font-weight: 700;
  
}
.top-banner{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}
.main-area{
    margin-left: 100px;
    text-transform: capitalize;
}